{"author" "Ron"
 "content-origin" "NIST IPRP (https://www.ctcms.nist.gov/potentials/Au.html#Au-Si)"
 "contributor-id" "fa1c5480-8f03-4349-95c1-96c205a7a333"
 "description" "In this work we studied crystallization of the liquid Si-Au system at rapid cooling. For this purpose we performed atomistic simulation with novel interatomic potential. Results of the simulations showed that crystallization proceeds in different ways for pure silicon and Si-Au melt. For the studied binary system, the main factor limiting crystallization is diffusion of Au atoms in the liquid state. Threshold cooling rate for crystallization significantly depends on the Au content."
 "domain" "openkim.org"
 "extended-id" "Sim_LAMMPS_ADP_StarikovLopanitsynaSmirnova_2018_SiAu__SM_985135773293_000"
 "kim-api-version" "1.9.5"
 "maintainer-id" "fa1c5480-8f03-4349-95c1-96c205a7a333"
 "potential-type" "adp"
 "simulator-name" "LAMMPS"
 "source-citations" [{"author" "Starikov, Sergey and Yu Lopanitsyna, N and Smirnova, D and Makarov, Sergey"
                      "booktitle" "Computational Materials Science"
                      "month" "Feb"
                      "pages" "303-311"
                      "recordkey" "SM_985135773293_000a"
                      "recordtype" "article"
                      "title" "Atomistic simulation of Si-Au melt crystallization with novel interatomic potential"
                      "volume" "142"
                      "year" "2018"}]
 "species" ["Au" "Si"]
 "title" "ADP potential for the Si-Au system developed by Starikov et al. (2018)"}
